@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-family: 'Fira Sans', sans-serif;
  --font-family-2: 'Poppins', sans-serif;

  --color-bg: linear-gradient(60deg, #080413 0%, #07021a 50%, #030011 100%);
}